{:lein         {:profile "+shadow-cljs"}
 :builds       {:app {:target     :browser
                      :output-dir "resources/public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [diplomaform.core]}}
                      :devtools   {:after-load diplomaform.core/mount-root}}}
 :dev-http     {3000 {:root    "resources/public"
                      :handler diplomaform.handler/app}}
 }

